# Godot-specific ignores
.import/
*.import
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
mono_crash.*.*.json

# Project specific
/.plugged/
/addons/*
!addons/gd-plug
!addons/adventure
.vscode/
*.ini
